<% include partials/header %>
    <div class="ui fixed inverted menu">

        <div class="header item"><i class="shield alternate icon" style="font-size:2em"></i>Security Systems</div>

        <a href="/users" class="active item" style="background:#4B5320">Users</a>
        <a href="/" class="item ">Home</a>

        <!-- <a href="/blogs/new" class="item">New Post</a> -->
        <a class="header item right" href="/admin"><i class="icon setting"></i>
</div>
<div class="ui main text container">
    <div class="ui hude header" style="color:#4B5320">

        <h1 class="heading"><i class="shield alternate icon"></i>Security Systems</h1>
    </div>
    <div class="ui top attached segment"
        style="background:rgba(0,0,0,.2);border:0px solid transparent;border-radius:5px;">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
            <div class="item">
                <div class="image segment">
                    <img src="<%= blog.image%>" class="image" width="175px" height="175px">
                </div>
                <div class="content">
                    <a href="/users/<%=blog._id %>" class="header">
                        <%= blog.title%>
                    </a>

        <div class="meta">
            <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
            <p>
                <%= blog.body.substring(0,100)%>...</p>
        </div>
        <br><br>
        <div class="extra" style="float:left;display:inline">


            <div class="ui labeled button floated right inverted olive" tabindex="0">
                <a href="/users/<%= blog._id %>" class="ui floated inverted olive basic button">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>

            </div>


            <div class="ui labeled button floated right" tabindex="0">
                <div class="ui red button">
                    <i class="clock outline icon"></i> Timer
                </div>
                <a class="ui basic red left pointing label" id="timer"><span class="js-timeout">2:00</span>
                            </a>
            </div>
        </div>
    </div>
    </div>
    <br>


    <% }); %>
        </div>
        </div>
        </div>
        <script>
            var interval;

            function countdown() {
                clearInterval(interval);
                interval = setInterval(function() {
                    var timer = $('.js-timeout').html();
                    timer = timer.split(':');
                    var minutes = timer[0];
                    var seconds = timer[1];
                    seconds -= 1;
                    if (minutes < 0) return;
                    else if (seconds < 0 && minutes != 0) {
                        minutes -= 1;
                        seconds = 59;
                    } else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;

                    $('.js-timeout').html(minutes + ':' + seconds);

                    if (minutes == 0 && seconds == 0) clearInterval(interval);
                }, 1000);
            }


            $('.js-timeout').text("2:00");
            countdown();
        </script>
        <% include partials/footer %>